@page
@model WebApp.Pages_BsnParticipant.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BusinessParticipant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessParticipant.Business)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessParticipant.Business!.BusinessName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessParticipant.AdditionalInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessParticipant.AdditionalInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessParticipant.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessParticipant.Event!.EventLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessParticipant.PaymentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessParticipant.PaymentType!.TypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessParticipant.ParticipantCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessParticipant.ParticipantCount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BusinessParticipant.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
