@page
@model WebApp.Pages_BisParticipant.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BusinessParticipant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessParticipant.Business)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessParticipant.Business!.BusinessName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessParticipant.AdditionalInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessParticipant.AdditionalInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessParticipant.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessParticipant.Event!.EventLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessParticipant.ParticipantCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessParticipant.ParticipantCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BusinessParticipant.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
