@page
@model WebApp.Pages_PrsnParticipant.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonParticipant[0].Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonParticipant[0].AdditionalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonParticipant[0].Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonParticipant[0].PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonParticipant[0].ParticipantCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PersonParticipant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event!.EventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType!.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipantCount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
