@page
@using Microsoft.EntityFrameworkCore
@model IndexModel
@{
    ViewData["Title"] = "Avaleht";
}
<div class="container">
    <div class="row text-white">
        <div class="col p-3 me-3 bg-primary text-center" >
            <div>Tulevased üritused</div>
        </div>
        <div class="col p-3 bg-primary text-center">
            <div>Toimunud üritused</div>
        </div>
    </div>
    <div class="row text-black">
        <div class="col p-3 me-3 bg-white" >
            <table class="table">
                @if (Model.FutureEvents.Any())
                {
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Osalejaid</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>   
                }
                <tbody>
                @foreach (var item in Model.FutureEvents)
                {
                    <tr>
                        <td>
                            <a asp-page="/Events/Details" asp-route-id="@item.Id">@item.EventName</a>
                        </td>
                        <td>
                            @item.EventStartTime
                        </td>
                        <td>
                            @IndexModel.GetParticipantCount(item)
                        </td>
                        <td>
                            <a class="btn btn-secondary btn-sm" role="button" asp-page="/PrsnParticipant/Create" asp-route-eventId="@item.Id">
                                Lisa osaleja
                            </a>

                        </td>
                        <td>
                            <a asp-page="/Events/Delete" title="Kustuta üritus" asp-route-id="@item.Id">
                                <img src="elements/remove.svg" alt="Kustuta" class="img-fluid">
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div>
                <a class="btn btn-secondary" role="button" asp-page="/Events/Create">Lisa Üritus</a>
            </div>
        </div>
        <div class="col p-3 bg-white">
            <table class="table">
                @if (Model.PastEvents.Any())
                {
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Osalejaid</th>
                    </tr>
                    </thead>
                }
                <tbody>
                @foreach (var item in Model.PastEvents)
                {
                    <tr>
                        <td>
                            <a asp-page="/Events/Details" asp-route-id="@item.Id">@item.EventName</a>
                        </td>
                        <td>@item.EventStartTime</td>
                        <td>
                            @IndexModel.GetParticipantCount(item)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
